################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PhoneBook_CleanArchitecture/FileContentIndex/13a88b2c-0d7e-4842-8ae1-f1bbf641cc6d.vsidx
/.vs/PhoneBook_CleanArchitecture/FileContentIndex
/.vs/slnx.sqlite
